:root {
  font-size: 18px;
  font-family: 'BN1FontBold', sans-serif;
  --text-primary: #283845ff;
  --text-secondary: #202c39ff;

  --bg-primary: #f2d492ff;
  --bg-secondary: #f29559ff;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* webkit-scrollbar has limited support for Firefox */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed; /*Stays at the same place regardless of where the user is*/
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7) ;
  transition: 200ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem; 
  /* Without width: 2rem; the SVG icons will not work on Firefox */
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 200ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small Screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}
/* Small Screens */


/* Large Screens */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
  }

  /* The illusion of making the sidebar slide in and out */
.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: inline;
  transition: opacity 200ms;
}
/* The illusion of making the sidebar slide in and out */
}
/* Large Screens */
